body{
    background-color: rgba(252, 210, 232, 0.771);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.common{
    background-color: rgb(241, 227, 229);
    border: 2px solid black;
    position: absolute;
}
.header{
    top: 5px;
    left: 5px;
    right: 5px;
    height: 300px;
    padding: 5px;
}
.body{
    top: 330px;
    left: 5px;
    right: 5px;
    height: 800px;
    padding: 5px;
}
.footer{
    top: 1155px;
    left: 5px;
    right: 5px;
    height: 220px;
    bottom: 10px;
    padding: 5px;
}
.tableau{
    top: 1400px;
    left: 5px;
    right: 5px;
    height: 2000px;
    bottom: 10px;
    padding: 5px;
}